body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(158deg, #8e1717, #24c9db);
  background-size: 300% 300%;
  -webkit-animation: AnimationName 11s ease infinite;
  -moz-animation: AnimationName 11s ease infinite;
  -o-animation: AnimationName 11s ease infinite;
  animation: AnimationName 11s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 42% 0%;
  }
  50% {
    background-position: 59% 100%;
  }
  100% {
    background-position: 42% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 42% 0%;
  }
  50% {
    background-position: 59% 100%;
  }
  100% {
    background-position: 42% 0%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 42% 0%;
  }
  50% {
    background-position: 59% 100%;
  }
  100% {
    background-position: 42% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 42% 0%;
  }
  50% {
    background-position: 59% 100%;
  }
  100% {
    background-position: 42% 0%;
  }
}

main {
  flex: 2;
}

section {
  max-width: 800px;
  margin: 50px auto;
}

.individCard {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.statCard {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.statCard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
